R2_ACCESS_KEY_ID=op://Dev/bzat2i3basa6hoh4xcqe54vl4y/access_key_id
R2_SECRET_ACCESS_KEY=op://Dev/bzat2i3basa6hoh4xcqe54vl4y/secret_access_key
R2_ENDPOINT=op://Dev/bzat2i3basa6hoh4xcqe54vl4y/endpoint
R2_BUCKET=op://Dev/bzat2i3basa6hoh4xcqe54vl4y/bucket
DATABASE_URL=op://Dev/5vz5l4grqbirixko4u3hkxttxu/connection_string
